/* TODO: Toggle box-sizing and observe width differences */
.box {
  width: 200px;
  padding: 20px;
  border: 4px solid #333;
  box-sizing: border-box;
}
/*No differenct was made here with border-box being added. I believe it is because it is added to the style in html.*/
